<div #mapid
  class="mapWrapper"></div>

<div class="row">

  <div class="col-12">
    <label class="form-label">
      ZOOM: {{zoomLvl | number:'2.0-2'}} | LNG, LAT: [{{mapCenter[0] | number:'2.4-4'}}, {{mapCenter[1] |
      number:'2.4-4'}}]
    </label>
    <input type="range"
      class="form-range"
      [value]="zoomLvl"
      min="0.83"
      max="18"
      #zoomInput
      (input)="zoomChanged(zoomInput.value)">

    <div class="col-12">
      <button class="btn btn-primary"
        (click)="zoomOut()">
        -
      </button>

      <button class="btn btn-primary float-end"
        (click)="zoomIn()">
        +
      </button>

    </div>

  </div>

</div>